<div class="dn-page-header container">
  <h1>PROFESSIONAL REVIEWS <span>/ by THE FIRST TEAM</span></h1>
</div>

<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="http://review.mainguyen.vn/img/2016/07/topic/m/1300-605.JPG"></div>
        <div class="swiper-slide"><img src="http://review.mainguyen.vn/img/2015/11/topic/m/Z5-bia-review.jpg"></div>
        <div class="swiper-slide"><img src=""></div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next dn-button-slide"></div>
    <div class="swiper-button-prev dn-button-slide"></div>
</div>

<div class="container-fluid content">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <section class="dn-review-cates">
          <section class="dn-review-item dn-type-2">
            <a href="#">
              <div>
                <img src="http://review.mainguyen.vn/img/2016/07/topic/size_3/1300-605.JPG">
                <div class="dn-figcaption">
                  <div class="dn-title">
                    <h3>Sony Xperia X/XA</h3>
                    <div class="meta">
                      <span class="comment">1</span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </section>
          <section class="dn-review-item dn-type-3">
            <a href="#">
              <div>
                <img src="http://review.mainguyen.vn/img/2016/03/topic/size_4/ReviewS7Edge.jpg">
                <div class="dn-figcaption">
                  <div class="dn-title">
                    <h3>Sony Xperia X/XA</h3>
                    <div class="meta">
                      <span class="comment">1</span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </section>
          <section class="dn-review-item dn-type-3">
            <a href="#">
              <div>
                <img src="http://review.mainguyen.vn/img/2016/01/topic/size_4/review-lgv10-bia-1300-6051718.jpg">
                <div class="dn-figcaption">
                  <div class="dn-title">
                    <h3>Sony Xperia X/XA</h3>
                    <div class="meta">
                      <span class="comment">1</span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </section>
          <section class="dn-review-item dn-type-1">
            <a href="#">
              <div>
                <img src="http://review.mainguyen.vn/img/2015/11/topic/l/Z5-bia-review.jpg">
                <div class="dn-figcaption">
                  <div class="dn-title">
                    <h3>Sony Xperia X/XA</h3>
                    <div class="meta">
                      <span class="comment">1</span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </section>
          <div class="clearfix"></div>
        </section>
        <div class="pagination">

        </div>
      </div>
      <div class="col-md-3">
        <div class="dn-top-title">
          <p class="">Top ranking </p>
        </div>
        <div class="dn-top-content">
          <ul>
            <li>
              <div class="dn-top-content-a">
                <a href="#">
                  <img src="http://review.mainguyen.vn/img/2016/07/topic/size_3/1300-605.JPG">
                </a>
              </div>
              <div class="dn-top-content-name">
                <p class="dn-top-content-phone">Iphone 4</p>
                <p class="star">5 sao</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="dn-top-content-a">
                <a href="#">
                  <img src="http://review.mainguyen.vn/img/2016/07/topic/size_3/1300-605.JPG">
                </a>
              </div>
              <div class="dn-top-content-name">
                <p class="dn-top-content-phone">Iphone 4</p>
                <p class="star">5 sao</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="dn-top-content-a">
                <a href="#">
                  <img src="http://review.mainguyen.vn/img/2016/07/topic/size_3/1300-605.JPG">
                </a>
              </div>
              <div class="dn-top-content-name">
                <p class="dn-top-content-phone">Iphone 4</p>
                <p class="star">5 sao</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="dn-top-content-a">
                <a href="#">
                  <img src="http://review.mainguyen.vn/img/2016/07/topic/size_3/1300-605.JPG">
                </a>
              </div>
              <div class="dn-top-content-name">
                <p class="dn-top-content-phone">Iphone 4</p>
                <p class="star">5 sao</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="dn-top-content-a">
                <a href="#">
                  <img src="http://review.mainguyen.vn/img/2016/07/topic/size_3/1300-605.JPG">
                </a>
              </div>
              <div class="dn-top-content-name">
                <p class="dn-top-content-phone">Iphone 4</p>
                <p class="star">5 sao</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="dn-top-content-a">
                <a href="#">
                  <img src="http://review.mainguyen.vn/img/2016/07/topic/size_3/1300-605.JPG">
                </a>
              </div>
              <div class="dn-top-content-name">
                <p class="dn-top-content-phone">Iphone 4</p>
                <p class="star">5 sao</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="dn-top-content-a">
                <a href="#">
                  <img src="http://review.mainguyen.vn/img/2016/07/topic/size_3/1300-605.JPG">
                </a>
              </div>
              <div class="dn-top-content-name">
                <p class="dn-top-content-phone">Iphone 4</p>
                <p class="star">5 sao</p>
              </div>
              <div class="clearfix"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row hl-favorite">
      <div class="col-xs-12 text-center hl-title">
        <span>ĐƯỢC ƯA CHUỘNG</span>
      </div>
      <div class="swiper-container1">
        <div class="swiper-wrapper">
          <div class="swiper-slide hl-favorite-slide1">
             <a href="#"><img src="https://www.att.com/catalog/en/skus/images/apple-iphone%206s%20plus%2016gb-space%20gray-450x350.png?01AD=3gkPxF8hsQEMqcBTPfQHf0yklRe59UIrAFBHs0hY4JM6GQbx562iiYA&01RI=F7520686A5EE166&01NA="></a>
              <span>produc name1</span>
          </div>
          <div class="swiper-slide hl-favorite-slide1">
              <a href="#"><img src="https://www.att.com/catalog/en/skus/images/apple-iphone%206s%20plus%2016gb-space%20gray-450x350.png?01AD=3gkPxF8hsQEMqcBTPfQHf0yklRe59UIrAFBHs0hY4JM6GQbx562iiYA&01RI=F7520686A5EE166&01NA="></a>
              <span>produc name2</span>
          </div>
          <div class="swiper-slide hl-favorite-slide1">
              <a href="#"><img src="https://www.att.com/catalog/en/skus/images/apple-iphone%206s%20plus%2016gb-space%20gray-450x350.png?01AD=3gkPxF8hsQEMqcBTPfQHf0yklRe59UIrAFBHs0hY4JM6GQbx562iiYA&01RI=F7520686A5EE166&01NA="></a>
              <span>produc name3</span>
          </div>
          <div class="swiper-slide hl-favorite-slide1">
              <a href="#"><img src="https://www.att.com/catalog/en/skus/images/apple-iphone%206s%20plus%2016gb-space%20gray-450x350.png?01AD=3gkPxF8hsQEMqcBTPfQHf0yklRe59UIrAFBHs0hY4JM6GQbx562iiYA&01RI=F7520686A5EE166&01NA="></a>
              <span>produc name4</span>
          </div>
          <div class="swiper-slide hl-favorite-slide1">
              <a href="#"><img src="https://www.att.com/catalog/en/skus/images/apple-iphone%206s%20plus%2016gb-space%20gray-450x350.png?01AD=3gkPxF8hsQEMqcBTPfQHf0yklRe59UIrAFBHs0hY4JM6GQbx562iiYA&01RI=F7520686A5EE166&01NA="></a>
              <span>produc name5</span>
          </div>
          <div class="swiper-slide hl-favorite-slide1">
              <a href="#"><img src="https://www.att.com/catalog/en/skus/images/apple-iphone%206s%20plus%2016gb-space%20gray-450x350.png?01AD=3gkPxF8hsQEMqcBTPfQHf0yklRe59UIrAFBHs0hY4JM6GQbx562iiYA&01RI=F7520686A5EE166&01NA="></a>
              <span>produc name6</span>
          </div>
          <div class="swiper-slide hl-favorite-slide1">
              <a href="#"><img src="https://www.att.com/catalog/en/skus/images/apple-iphone%206s%20plus%2016gb-space%20gray-450x350.png?01AD=3gkPxF8hsQEMqcBTPfQHf0yklRe59UIrAFBHs0hY4JM6GQbx562iiYA&01RI=F7520686A5EE166&01NA="></a>
              <span>produc name7</span>
          </div>
          <div class="swiper-slide hl-favorite-slide1">
              <a href="#"><img src="https://www.att.com/catalog/en/skus/images/apple-iphone%206s%20plus%2016gb-space%20gray-450x350.png?01AD=3gkPxF8hsQEMqcBTPfQHf0yklRe59UIrAFBHs0hY4JM6GQbx562iiYA&01RI=F7520686A5EE166&01NA="></a>
              <span>produc name8</span>
          </div>
          <div class="swiper-slide hl-favorite-slide1">
              <a href="#"><img src="https://www.att.com/catalog/en/skus/images/apple-iphone%206s%20plus%2016gb-space%20gray-450x350.png?01AD=3gkPxF8hsQEMqcBTPfQHf0yklRe59UIrAFBHs0hY4JM6GQbx562iiYA&01RI=F7520686A5EE166&01NA="></a>
              <span>produc name9</span>
          </div>
        </div>

        <div class="swiper-button-next hl-prev1"></div>
        <div class="swiper-button-prev hl-next1"></div>
      </div>
          <div class="col-md-12" style="height: 1px;background-color: #E8E8E8;margin: 30px 0"></div>
    </div>
  </div>
</div>

<script>
var swiper = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    paginationClickable: true,
    spaceBetween: 30,
    centeredSlides: true,
    autoplay: 50000,
    autoplayDisableOnInteraction: false,
    loop: true
});
</script>

<script>
var swiper2 = new Swiper('.hl-favorite .swiper-container1', {
    autoplay: 50000,
    autoplayDisableOnInteraction: false,
    nextButton: '.hl-next1',
    prevButton: '.hl-prev1',
    slidesPerView: 5,
    slidesPerGroup : 5,
    paginationClickable: true,
    loop: true,
    speed : 1000
});
</script>
