<span id="comment-name-<%= "#{comment.id}" %>"><%= comment.content %></span>
<%= form_for comment, html: {class: "edit-comment hidden", id: "comment-form-#{comment.id}"},
  remote: true do |f| %>
  <%= f.text_field :content, class: "form-control" %>
  <%#= f.submit t(:update), class: "btn btn-success" %>
<% end %>
