<% provide :title, t(:home) %>

<ul class="product-list-basic">

        <li>

            <a href="#" class="product-photo">
                <img src="https://9to5mac.files.wordpress.com/2014/09/iphone6-select-2014.png?w=782" height="130" alt="iPhone 6" />
            </a>

            <h2><a href="#">iPhone 6</a></h2>
            <a href="#" class="product-compare">compare</a>

            <div class="product-rating">
                <div>
                  <span class="product-stars" style="width: 60px" >
                      <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                  </span>
                </div>

                <span><a href="#">82 reviews</a></span>
            </div>

            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna.</p>

            <button>Buy Now!</button>
            <p class="product-price">$599.00</p>

        </li>

        <li>

            <a href="#" class="product-photo">
                <img src="http://www.htc.com/managed-assets/shared/desktop/smartphones/htc-one-m8/pdp/image/gallery/main-1-mobile.jpg" height="130" alt="Galaxy Alpha" />
            </a>

            <h2><a href="#">HTC One</a></h2>
            <a href="#" class="product-compare">compare</a>

            <div class="product-rating">
                <div>
                        <span class="product-stars" >
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                        </span>
                </div>

                <span><a href="#">90 reviews</a></span>
            </div>

            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna.</p>

            <button>Buy Now!</button>
            <p class="product-price">$599.00</p>

        </li>

        <li>

            <a href="#" class="product-photo">
                <img src="http://lotus.se-mc.com/image/api.sonymobile.com/files/xperia-c3-green-2000x2000-7ba1d915f56fd2db701321fe7ad2326c.png?wid=330" height="130" alt="Nokia Lumia" />
            </a>

            <h2><a href="#">Sony Xperia</a></h2>
            <a href="#" class="product-compare">compare</a>

            <div class="product-rating">
                <div>
                        <span class="product-stars" style="width: 60px" >
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                        </span>
                </div>

                <span><a href="#">123 reviews</a></span>
            </div>

            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna.</p>

            <span class="product-out-of-stock">Out of stock</span>
            <p class="product-price">$299.00</p>

        </li>
