@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.dn-content{
  min-height: 562px!important
}

.dn-front-user-img{
  border-radius: 5px;
  width: 100px;
  height: 100px;
}

.dn-admin-user-image{
  border-radius: 5px;
  width: 25;
  height: 25px;
}

td.phone-star img{ 
  height: 15px;
}
